html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  /* background-image: url(/img/body.png);
  background-repeat: repeat; */
}

img {
  width: 100%;
}

li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.container {
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
}

.flex-c {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-r {
  display: flex;
  flex-wrap: wrap;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-fs {
  justify-content: flex-start;
}

.flex-ai-c {
  align-items: center;
}

.flex-ai-fs {
  align-items: flex-start;
}

.main {
  background-color: #fafafa;
}

/*------------------------------------*\
  HEADER
\*------------------------------------*/
.header {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.6);
}

.logo {
  color: #4a4a4a;
  text-decoration: none;
}

.nav__list {
  list-style: none;
}

.nav__link {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 700;
}

.nav__item + .nav__item {
  margin-left: 2em;
}

/*------------------------------------*\
  HOME
\*------------------------------------*/
.hero-home {
  padding: 15rem 0;
  background: url(../img/Header_bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
}

.hero-home__title {
  padding: 0 0.6em;
  background-color: #000;
  color: #fff;
  letter-spacing: 0.2em;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1em;
  display: inline-block;
}

.hero-home__text {
  letter-spacing: 0.4em;
  font-size: 1.2rem;
}

.galery {
  padding-bottom: 2em;
  background-color: #f2f2f2;
}

.galery__menu {
  padding: 0.5em;
  border-top: 1px solid rgba(74, 74, 74, 0.4);
  border-bottom: 1px solid rgba(74, 74, 74, 0.4);
  list-style: none;
}

.galery__item {
  padding: 1em 0;
}

.galery__item::after {
  padding: 0 2em;
  content: "/";
}

.galery__item:last-child::after {
  content: "";
}

.galery__link {
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-weight: 700;
  font-size: 0.875rem;
}

.galery__puctures {
  margin-top: 2em;
}

.galery__puctures-col {
  flex-grow: 1;
  flex-shrink: 1;
}

.galery__puctures-col + .galery__puctures-col {
  margin-left: 1em;
}

.galery__puctures-item {
  margin-bottom: 1em;
}

.galery__button {
  margin-top: 2em;
}

.galery__button-link {
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 2px;
  background-color: #959595;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.social {
  padding: 2em 0;
}

.social__list {
  margin-top: 2em;
  width: 100%;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}

.social__list-items {
  padding: 2em 0;
}

.social__item {
  list-style: none;
}

.social__item + .social__item {
  margin-left: 4em;
}

.social__link {
  color: #959595;
  text-decoration: none;
}

/*------------------------------------*\
  ABOUT
\*------------------------------------*/
.hero-about {
  background-image: url(../img/about_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7em 0;
  text-transform: uppercase;
}

.hero-about__title {
  letter-spacing: 0.1em;
  font-weight: 300;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
  padding: 0 0.6em;
  margin-bottom: 1em;
}

.hero-about__text {
  letter-spacing: 0.4em;
  font-size: 1.2rem;
}

.story {
  padding-top: 3em;
  margin-bottom: 1em;
}

.story__wrapper,
.team__persons {
  display: flex;
  justify-content: space-between;
}

.story__left {
  flex: 1 1;
  padding-right: 1em;
}

.story__right {
  flex: 1 1;
  padding-left: 1em;
}

.story__title {
  font-size: 1.125rem;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.story__text + .story__title {
  margin-top: 2em;
}

.story__text {
  font-size: 0.875rem;
  line-height: 1.875em;
  color: #777;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.story__text + .story__text {
  margin-top: 1em;
}

.story__skill {
  border-bottom: 2px solid #a1a1a1;
}

.story__text--skills {
  font-weight: bold;
}

.team {
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 3em;
}

.team__title {
  font-size: 3.75rem;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #000000;
  margin-top: 0;
}

.team__text {
  max-width: 50%;
  font-size: 0.875rem;
  line-height: 1.875em;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0.025em;
  color: #777777;
  margin: 0 auto;
  margin-bottom: 3em;
}

.team__persons {
  text-align: left;
}

.team__persons-person {
  flex: 1 1;
  align-self: flex-start;
}

.team__persons-person + .team__persons-person {
  margin-left: 1em;
}

.team__persons-person__name {
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #041608;
  margin-bottom: 0;
}

.team__persons-person__position {
  font-size: 1rem;
  line-height: 0.625em;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0.025em;
  color: #777777;
  margin-top: 0;
}

.team__persons-person__info {
  font-size: 0.875rem;
  font-weight: 400;
  text-transform: none;
  letter-spacing: normal;
  color: #9c9c9c;
}

/*------------------------------------*\
  PORTFOLIO
\*------------------------------------*/
.hero-portfolio {
  background-image: url(../img/potfrolio_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7em;
  padding-bottom: 7em;
  text-transform: uppercase;
}

/*------------------------------------*\
  BLOG
\*------------------------------------*/

.hero-blog {
  background-image: url(/img/blog_hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7em;
  padding-bottom: 7em;
  text-transform: uppercase;
}

.blog-posts {
  margin-top: 2em;
  font-family: "Roboto", sans-serif;
}

.blog-posts__col {
  flex: 1 1;
}

.blog-posts__col + .blog-posts__col {
  margin-left: 1em;
}

.blog-post {
  background-color: #fff;
  margin-bottom: 1em;
}

.block-post__wrap {
  padding: 2.625em;
}

.blog-post__header-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.2em;
  margin: 1em 0;
}

.blog-post__title {
  margin-bottom: 0.5em;
  font-size: 1.25rem;
  line-height: 1.185em;
  font-weight: 700;
  color: #333;
}

.blog-post__author {
  color: #ccc;
  margin-bottom: 1.5em;
}

.blog-post__info {
  color: #777;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

.blog-post__date {
  color: #9a9a9a;
}

.social__link {
  color: #ccc;
}

.social__link + .social__link {
  margin-left: 1em;
}

.blog-post--bg {
  background-image: url(../img/tea_bag.png);
  background-size: cover;
}

.hidden > .blog-post__title {
  color: #fff;
}

.hidden > .blog-post__author {
  color: #ccc;
}

.hidden > .blog-post__info {
  color: #e5e5e5;
}

.hidden > .blog-post__date {
  color: #a1a1a1;
}

.hidden > .social__link {
  color: #c0c0c0;
}

.hidden {
  visibility: hidden;
}

.blog-post--bg:hover {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.75);
}

.blog-post--bg:hover .hidden {
  visibility: visible;
}

/* .transparent-layer {
  background-color: rgba(0, 0, 0, 0.85);
  color: #000;
} */

/*------------------------------------*\
  FOOTER
\*------------------------------------*/
.footer {
  padding: 0.5em 0 3em;
}

.footer__text {
  margin: 0;
  color: #bfbfbf;
  text-transform: uppercase;
  font-weight: 300;
}

.footer__text--main {
  color: #000;
}

/*---------------------------*\
  SELECTED
\*---------------------------*/
.selected {
  color: #000;
}

/*------------------------------------*\
  MEDIA QUERIES
\*------------------------------------*/
@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .nav__list {
    flex-direction: column;
    padding: 0;

    justify-content: center;
    align-items: center;
  }

  .nav__item + .nav__item {
    margin: 0;
    margin-top: 1em;
  }

  .hero {
    padding: 8rem 0;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__text {
    font-size: 1em;
  }

  .galery__menu {
    flex-direction: column;
    padding: 0;

    justify-content: center;
    align-items: center;
  }

  .galery__item {
    margin: 0.4em 0;
    padding: 1em 0 0.3em;
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
  }

  .galery__item::after {
    padding: 0;
    content: "";
  }

  .social__list-items {
    padding: 0;

    justify-content: center;
    align-items: center;
  }

  .social__item + .social__item {
    margin: 0;
    margin-left: 2em;
  }

  .social__list-item {
    margin-bottom: 1em;
  }
}
