html {
	box-sizing: border-box;
}

body {
	background-image: url(/img/body.png);
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 1em;
}

.row {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.col {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 10px rgba(74, 74, 74, 0.6);
}

.logo {
	text-decoration: none;
	color: #4a4a4a;
}

.nav__list {
	font-family: 'Lato', sans-serif;
	list-style: none;
	display: flex;
}

.nav__link {
	color: #777;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.075em;
}

.nav__item + .nav__item {
	margin-left: 2em;
}

.hero {
	background: url(/img/Header_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	text-transform: uppercase;
	padding: 15rem 0;

}

.hero__title {
	background-color: #000;
	color: #fff;
	padding: 0 0.6em;
	font-size: 3rem;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.1em;
}

.hero__text {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.4em;
}

.galery {
	background-color: #F2F2F2;
	padding-bottom: 2em;
}

.galery__menu-list {
	list-style: none;
	border-top: 1px solid rgba(74, 74, 74, 0.4);
	border-bottom: 1px solid rgba(74, 74, 74, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.galery__menu-item {
	padding: 1em 0;
}

.galery__menu-link {
	color: #777;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 0.075em;
	font-size: 0.875rem;
}

.galery__menu-item::after {
	content: "/";
	padding: 0 2em;
}

.galery__menu-item:last-child::after {
	content: "";
}

.galery__puctures {
	display: flex;
	margin-top: 2em;
	justify-content: space-between;
}

.galery__puctures-col {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.galery__puctures-item {
	margin-bottom: 4em;
}

.galery__button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.galery__button-link {
	background-color: #959595;
	color: #fff;
	padding: 0.5em 1em;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
}

.social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3em 0 2em;
}

/*
.cosial__logo {
	margin-bottom: 3em;
}
*/

.social__list {
	width: 100%;
	border-top: 1px solid rgba(191, 191, 191, 0.4);
	border-bottom: 1px solid rgba(191, 191, 191, 0.4);
	margin-top: 2em;
}

.social__list-items {
	display: flex;
	justify-content: center;
	align-items: center;

}

.social__item {
	list-style: none;
}

.social__item + .social__item {
	margin-left: 4em;
}

.social__link {
	text-decoration: none;
	color: #959595;
}

.footer {
	padding: 0.5em 0 3em;
}

.footer__msg {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__text {
	text-transform: uppercase;
	color: #BFBFBF;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.footer__text--main {
	color: #000;
}

.selected {
	color: #000;
}

@media screen and (max-width: 768px) {
	.row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.nav__list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.nav__item + .nav__item {
		margin: 0;
		margin-top: 1em;
	}
}
